body{
margin:0;
background:black;
display:flex;
justify-content:center;
}

#background{
position:relative;
width:720px;
}

#background img{
width:100%;
display:block;
}

.btn{
position:absolute;
cursor:pointer;
border:2px solid red;
}

/* MENU */

.serveur{
top:410px;
left:110px;
width:90px;
height:40px;
}

.events{
top:410px;
left:200px;
width:120px;
height:40px;
}

.tribu{
top:410px;
left:330px;
width:100px;
height:40px;
}

.joueurs{
top:410px;
left:430px;
width:110px;
height:40px;
}

.bot{
top:410px;
left:540px;
width:80px;
height:40px;
}

.mod{
top:410px;
left:620px;
width:80px;
height:40px;
}

/* REJOINDRE */

.rejoindre{
top:620px;
left:200px;
width:320px;
height:60px;
}

/* STATS */

.structures{
top:870px;
left:180px;
width:220px;
height:55px;
}

.spyglass{
top:870px;
left:410px;
width:220px;
height:55px;
}

.dino{
top:930px;
left:180px;
width:220px;
height:55px;
}

.breeding{
top:930px;
left:410px;
width:220px;
height:55px;
}

/* DISCORD */

.discord{
top:1140px;
left:240px;
width:240px;
height:60px;
}
